.father_of_all_comps {
  width: 420px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: "searchArea btnsArea";
  border: none;
  margin-top: 80px;
  height: 50px;
}

.search_container {
  grid-template: searchArea;
}

.btns_unit {
  grid-template: btnsArea;
}

@media screen and (max-width: 425px) {
  .father_of_all_comps {
    width: 80%;
    height: 40px;
  }
}

@media screen and (max-width: 375px) {
  .father_of_all_comps {
    width: 80%;
    height: 30px;
  }
}
/* 
@media screen and (max-width: 320px) {
  .father_of_all_comps {
    height: 10px;
  }
} */
